/.cproject
/.project
/.settings/
/*.o
/*.exe
Icon

.DS_Store
.com.apple.timemachine.supported
*.sw?
*~.nib
.fuse*

/build/

*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.vcxproj
*.vcxproj.filters
*.sln
*.suo
xcuserdata/
*.orig

CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Makefile
/bin/
cmake_install.cmake
/Win32
